{% extends "components/base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {% trans "Components" %}
  </h1>
  <div class="govuk-body">
    {% url 'component:name' 'text-input' as component_url %}
    {% blocktrans %}
    Each of the <a href="https://design-system.service.gov.uk/components/">components</a>
    listed on the GOV.UK Design System web site has a matching example here. While the
    examples are reasonably well featured but they do not show all the possible variations.
    For example, the <a href="{{ component_url }}">Text input</a> only shows a full width field.
    The <a href="https://crispy-forms-gds.readthedocs.io/en/latest/components/text_input.html">
    corresponding page</a> in the documentation describes all the settings in full so it's
    easy to experiment with the code to see how everything works.
    {% endblocktrans %}
  </div>
{% endblock %}
