{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
  <nav>
    <ul class="govuk-list">
      <li>
        <a href="{% url 'fields:name' 'checkboxes' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Checkboxes' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'text-input' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Text input' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'textarea' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Textarea' %}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-m">
    {% trans "Crispy Forms - UK.GOV Design System" %}
  </h1>
  <div class="govuk-body">
  </div>
{% endblock %}
