{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
  <nav>
    <ul class="govuk-list">
      <li>
        <a href="{% url 'fields:name' 'buttons' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Buttons' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'checkbox' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Checkbox' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'checkboxes' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Checkboxes' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'file-upload' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'File upload' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'radios' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Radios' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'select' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Select' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'text-input' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Text input' %}
        </a>
      </li>
      <li>
        <a href="{% url 'fields:name' 'textarea' %}"
           class="govuk-link govuk-link--no-visited-state">
           {% trans 'Textarea' %}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
