# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.editorconfig
!.envrc
!.github
!.gitignore
!.gitkeep
!.nvmrc
!.pre-commit-config.yaml
!.readthedocs.yml

# Ignore demo files except the site stylesheet
db.sqlite3
/assets/fonts/
/assets/images/
/assets/javascripts/
/assets/stylesheets/
/assets/manifest.json
