# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.github
!.gitignore
!.gitkeep
!.editorconfig
!.readthedocs.yml

# Development artefacts
build
dist
reports
src/sphinx-wildfish-theme
venv
