# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.gitignore
!.gitkeep
!.editorconfig
!.travis.yml
!.readthedocs.yml

# Development artefacts
build
dist
reports
venv

# Any local makefiles
*.mk

