# Manifest used for source and binary distributions.

# Only need to explicitly include the changelog. The readme, licence
# and manifest files alll pet pulled in automatically or from the
# settings in setup.cfg

include CHANGELOG.md

recursive-include src/crispy_forms_gds *

recursive-exclude * .cache
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
