# Manifest used for source and binary distributions.

# Only need to explicitly include the changelog. The readme, licence
# and manifest files all pet pulled in automatically or from the
# settings in setup.py

include LICENSE.txt
include CHANGELOG.rst

exclude setup.cfg
exclude pyproject.toml

recursive-include src/crispy_forms_gds/locale *
recursive-include src/crispy_forms_gds/templates *
recursive-include src/crispy_forms_gds/static *

recursive-exclude * .cache
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
