# Install the dependencies from setup.cfg
-e .

# Install all the dependencies needed for development. It's done this way
# rather than using [options.extras_require] in setup.cfg to avoid them
# being added in requires.txt when the package is built for distribution.
# That's really intended for additional packages for the distribution and
# development is not that. Is this being picky? Yes, but it exposes a
# 'flaw' in the general mess that is setuptools.

pytest
pytest-black
pytest-flake8
pytest-isort
pytest-cov
tox
twine
wheel

doc8
sphinx
sphinx-rtd-theme
sphinx-autobuild
-e git+https://github.com/wildfish/sphinx_wildfish_theme.git#egg=sphinx_wildfish_theme
