{% extends "gds/base.html" %}
{% load i18n crispy_forms_gds %}

{% block header %}
  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container">
      <div class="govuk-width-container">
        <a href="{% url 'home' %}" class="govuk-header__link govuk-header__link--service-name">
          Crispy Forms GDS
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block phase_banner %}
  <div class="govuk-phase-banner govuk-width-container" style="border-bottom: none">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        {% trans "Open" %}
      </strong>
      <span class="govuk-phase-banner__text">
      {% blocktrans %}
        This is an Open Source project – your
        <a class="govuk-link" href="https://github.com/wildfish/crispy-forms-gds/issues">feedback</a>
        will help us to improve it.
      {% endblocktrans %}
      </span>
    </p>
  </div>
{% endblock %}

{% block extra_header %}
  <nav class="demo-navigation govuk-clearfix">
    <div class="govuk-width-container">
      <ul class="demo-navigation__list">
        <li class="demo-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state" href="{% url "components:index" %}" data-topnav="Components">
            {% trans "Components" %}
          </a>
        </li>
        {% if HAS_TUTORIAL_APP %}
        <li class="demo-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state" href="{% url "tutorial" %}" data-topnav="Tutorial">
            {% trans "Tutorial" %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block footer %}
  <footer class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <div class="govuk-footer__meta-custom">
            <div class="wildfish_logo">
              A project by
              <a href="https://wildfish.com/">Wildfish.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
