nav a {
  text-decoration: none;
}

.demo-width-container {
    margin-right: 30px;
    margin-left: 30px;
}

.demo-navigation {
  font-size: 1.1875rem;
  line-height: 1.31579;
  background-color: #f8f8f8;
}

.demo-navigation__list {
  position: relative;
  left: -15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.demo-navigation__list-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 50px;
  padding: 0 15px;
  float: left;
  line-height: 50px;
}

.demo-navigation__list-item--current {
    border-bottom: 4px solid #1d70b8;
}
