{% extends "demo/base.html" %}
{% load i18n %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <nav>
        <ul class="govuk-list">
          <li>
            <a href="{% url 'components:name' 'accordion' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Accordion' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'buttons' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Buttons' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'checkboxes' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Checkboxes' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'date-input' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Date input' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'details' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Details' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'fieldset' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Fieldset' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'file-upload' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'File upload' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'inset' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Inset text' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'panel' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Panel' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'radios' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Radios' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'conditional_radios' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Radios - Conditional' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'select' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Select' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'tabs' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Tabs' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'tag' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Tag' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'text-input' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Text input' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'textarea' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Textarea' %}
            </a>
          </li>
          <li>
            <a href="{% url 'components:name' 'warning' %}"
               class="govuk-link govuk-link--no-visited-state">
               {% trans 'Warning text' %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% block right %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
