<div class="govuk-accordion__section{% if div.css_class %} {{ div.css_class }}{% endif %}"{% if div.css_id %} id="{{ div.css_id }}"{% endif %} {{ div.flat_attrs|safe }}>
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button">
        {{ div.name }}
      </span>
    </h2>
    {% if div.summary %}
      <div class="govuk-accordion__section-summary govuk-body" id="{{ div.parent }}-summary-{{ div.index }}">
        {{ div.summary }}
      </div>
    {% endif %}
  </div>
  <div class="govuk-accordion__section-content">
    {{ fields|safe }}
  </div>
</div>
