{% load l10n crispy_forms_gds %}
<fieldset class="govuk-fieldset"{% if field.help_text or field.errors %} aria-describedby="{% if field.help_text %}{{ field.auto_id }}_hint{% endif %}{% for error in field.errors %} {{ field.auto_id }}_{{ forloop.counter }}_error{% endfor %}"{% endif %}>

  {% if field.label %}
    <legend class="govuk-fieldset__legend{% if legend_size %} {{ legend_size }}{% endif %}">
      {% if legend_tag %}<{{ legend_tag }} class="govuk-fieldset__heading">{% endif %}
      {{ field.label|safe }}
      {% if legend_tag %}</{{ legend_tag }}>{% endif %}
    </legend>
  {% endif %}

  {% include 'gds/layout/help_text_and_errors.html' %}

  <div class="govuk-checkboxes{% if inline %}--inline{% endif %}{% if checkboxes_small %} govuk-checkboxes--small{% endif %}">
    {% for choice in field.field.choices %}
      <div class="govuk-checkboxes__item">

        <input
          type="checkbox"
          name="{{ field.html_name }}"
          class="govuk-checkboxes__input"
          id="id_{{ field.html_name }}_{{ forloop.counter }}"
          value="{{ choice.0|unlocalize }}"
          {% if choice.0 in field.value or choice.0|stringformat:"s" in field.value %}
            checked="checked"
          {% endif %}
          {% if choice.hint %}
             aria-describedby="id_{{ field.html_name }}_{{ forloop.counter }}_hint"
          {% endif %}
        >

        <label class="govuk-label govuk-checkboxes__label" for="id_{{ field.html_name }}_{{ forloop.counter }}">
          {{ choice.1|unlocalize }}
        </label>
        {% if choice.hint %}
          <span id="id_{{ field.html_name }}_{{ forloop.counter }}_hint" class="govuk-hint govuk-checkboxes__hint">
            {{ choice.hint }}
          </span>
        {% endif %}
      </div>

      {% if choice.divider %}
        <div class="govuk-checkboxes__divider">{{ choice.divider }}</div>
      {% endif %}

    {% endfor %}
  </div>

</fieldset>
