{% load l10n crispy_forms_gds %}
<fieldset class="govuk-fieldset"{% if field.help_text or field.errors %} aria-describedby="{% if field.help_text %}{{ field.auto_id }}_hint{% endif %}{% for error in field.errors %} {{ field.auto_id }}_{{ forloop.counter }}_error{% endfor %}"{% endif %}>

  {% if field.label %}
    <legend class="govuk-fieldset__legend{% if legend_size %} {{ legend_size }}{% endif %}">
      {% if legend_tag %}<{{ legend_tag }} class="govuk-fieldset__heading">{% endif %}
      {{ field.label|safe }}
      {% if legend_tag %}</{{ legend_tag }}>{% endif %}
    </legend>
  {% endif %}

  {% include 'gds/layout/help_text_and_errors.html' %}

  {% block radios %}
    <div class="govuk-radios{% if radios_inline %}--inline{% endif %}{% if radios_small %} govuk-radios--small{% endif %}">
      {% for choice in field.field.choices %}
        {% include 'gds/layout/radio_item.html' with position=forloop.counter%}
      {% endfor %}
    </div>
  {% endblock %}

</fieldset>
