# Python
__pycache__/
*.py[co]
*.egg*

# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.gitignore
!.gitkeep
!.nvmrc

# Development artefacts
*.log
*.sqlite3
media

# Front end artefacts
node_modules
assets

# Other
backend/tutorial
